<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.onecivilization.MyOptimize">

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".Util.AppManager"
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Activity.MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activity.NewCareItemActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.DescriptionActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.CareDetailsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.HistoryCareDetailsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.SettingsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.SettingsLanguageActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.SettingsBackupActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.NewProblemItemActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.ProblemDetailsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.HistoryProblemDetailsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.AboutActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.HelpActivity"
            android:screenOrientation="portrait" />
    </application>

</manifest>